
# Supply Chain Optimization for a Manufacturing Company

### Objectives of this Project: 
- optimize the weight of the product to be shipped to each warehouse based on historical data.

### Summary: Imputation Actions in Task 1

**Objective**: Systematically address missing values in specified columns.

**Actions Taken**:
- **workers_num**: Imputed missing values using the median of the column.
- **approved_wh_govt_certificate**: Analyzed its unique categories and filled missing entries with the label "Unknown" to denote potential non-approval or undetermined status.

**Outcome**: Successfully handled missing data in the `workers_num` and `approved_wh_govt_certificate` columns, enhancing the dataset's completeness for further analysis.

In [1]:
#Loading packages
import numpy as np
import pandas as pd

C:\Users\chimi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\chimi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\chimi\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
supply_df = pd.read_csv('C:/Users/chimi/Desktop/Python Data Science Projects/Supply Chain Optimization/data/FMCG_data.csv')

In [3]:
supply_df.head(5)

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,...,electric_supply,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton
0,WH_100000,EID_50000,Urban,Small,West,Zone 6,3,1,2,4651,...,1,91,29.0,NaN,13,0,A,5,15,17115
1,WH_100001,EID_50001,Rural,Large,North,Zone 5,0,0,4,6217,...,1,210,31.0,NaN,4,0,A,3,17,5074
2,WH_100002,EID_50002,Rural,Mid,South,Zone 2,1,0,4,4306,...,0,161,37.0,NaN,17,0,A,6,22,23137
3,WH_100003,EID_50003,Rural,Mid,North,Zone 3,7,4,2,6000,...,0,103,21.0,NaN,17,1,A+,3,27,22115
4,WH_100004,EID_50004,Rural,Large,North,Zone 5,3,1,2,4740,...,1,112,25.0,2009.0,18,0,C,6,24,24071

In [4]:
supply_df.columns

Index(['Ware_house_ID', 'WH_Manager_ID', 'Location_type', 'WH_capacity_size',
       'zone', 'WH_regional_zone', 'num_refill_req_l3m', 'transport_issue_l1y',
       'Competitor_in_mkt', 'retail_shop_num', 'wh_owner_type',
       'distributor_num', 'flood_impacted', 'flood_proof', 'electric_supply',
       'dist_from_hub', 'workers_num', 'wh_est_year',
       'storage_issue_reported_l3m', 'temp_reg_mach',
       'approved_wh_govt_certificate', 'wh_breakdown_l3m', 'govt_check_l3m',
       'product_wg_ton'],
      dtype='object')

In [5]:
supply_df.shape

(25000, 24)

In [6]:
supply_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ware_house_ID                 25000 non-null  object
 1   WH_Manager_ID                 25000 non-null  object
 2   Location_type                 25000 non-null  object
 3   WH_capacity_size              25000 non-null  object
 4   zone                          25000 non-null  object
 5   WH_regional_zone              25000 non-null  object
 6   num_refill_req_l3m            25000 non-null  int64
 7   transport_issue_l1y           25000 non-null  int64
 8   Competitor_in_mkt             25000 non-null  int64
 9   retail_shop_num               25000 non-null  int64
 10  wh_owner_type                 25000 non-null  object
 11  distributor_num               25000 non-null  int64
 12  flood_impacted                25000 non-null  int64
 13  flood_proof                   25000 non-null  int64
 14  electric_supply               25000 non-null  int64
 15  dist_from_hub                 25000 non-null  int64
 16  workers_num                   24010 non-null  float64
 17  wh_est_year                   13119 non-null  float64
 18  storage_issue_reported_l3m    25000 non-null  int64
 19  temp_reg_mach                 25000 non-null  int64
 20  approved_wh_govt_certificate  24092 non-null  object
 21  wh_breakdown_l3m              25000 non-null  int64
 22  govt_check_l3m                25000 non-null  int64
 23  product_wg_ton                25000 non-null  int64
dtypes: float64(2), int64(14), object(8)
memory usage: 4.6+ MB

In [7]:
# Check for duplicatess
supply_df.duplicated().sum()

0

In [8]:
# Check for missing values
missing_data = supply_df.isnull().sum()
missing_data = missing_data[missing_data > 0]
print(missing_data)

workers_num                       990
wh_est_year                     11881
approved_wh_govt_certificate      908
dtype: int64

In [9]:
# Fill the missing values
supply_df['workers_num'].fillna(supply_df['workers_num'].median(), inplace=True)

In [10]:
# Perform some feature engineering
current_year = pd.Timestamp.now().year
supply_df['wh_age'] = current_year - supply_df['wh_est_year']
supply_df['wh_age'] = current_year - supply_df['wh_est_year']
supply_df['wh_age'].fillna(supply_df['wh_age'].median(), inplace=True)

In [11]:
# Impute missing values 
supply_df[supply_df['approved_wh_govt_certificate'].isna()]

,Ware_house_ID,WH_Manager_ID,Location_type,WH_capacity_size,zone,WH_regional_zone,num_refill_req_l3m,transport_issue_l1y,Competitor_in_mkt,retail_shop_num,...,dist_from_hub,workers_num,wh_est_year,storage_issue_reported_l3m,temp_reg_mach,approved_wh_govt_certificate,wh_breakdown_l3m,govt_check_l3m,product_wg_ton,wh_age
28,WH_100028,EID_50028,Rural,Small,North,Zone 6,3,1,1,7692,...,154,20.0,NaN,0,0,NaN,0,8,3123,14.0
35,WH_100035,EID_50035,Rural,Large,North,Zone 5,0,1,4,5353,...,80,30.0,NaN,0,0,NaN,0,24,4141,14.0
38,WH_100038,EID_50038,Rural,Large,West,Zone 6,5,0,4,6915,...,94,33.0,2021.0,0,0,NaN,0,23,6117,2.0
99,WH_100099,EID_50099,Rural,Mid,North,Zone 4,3,0,3,4477,...,173,27.0,2021.0,0,0,NaN,0,26,14130,2.0
117,WH_100117,EID_50117,Rural,Mid,South,Zone 2,5,0,3,4204,...,248,18.0,2023.0,0,0,NaN,0,32,6106,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24887,WH_124887,EID_74887,Rural,Small,South,Zone 1,6,0,3,3470,...,211,18.0,2022.0,0,0,NaN,0,21,6107,1.0
24897,WH_124897,EID_74897,Rural,Small,South,Zone 1,8,0,4,4045,...,64,23.0,2023.0,0,0,NaN,0,31,4149,0.0
24902,WH_124902,EID_74902,Rural,Mid,West,Zone 2,0,0,2,5140,...,141,92.0,NaN,0,0,NaN,0,12,3146,14.0
24934,WH_124934,EID_74934,Rural,Mid,West,Zone 4,0,0,2,4861,...,161,29.0,NaN,0,0,NaN,0,11,3086,14.0
24961,WH_124961,EID_74961,Rural,Mid,West,Zone 4,7,0,3,5680,...,161,37.0,2022.0,0,0,NaN,0,26,5144,1.0

In [12]:
supply_df['approved_wh_govt_certificate'].value_counts()

C     5501
B+    4917
B     4812
A     4671
A+    4191
Name: approved_wh_govt_certificate, dtype: int64

In [13]:
# Fill in the missing values with 0's for warehouse certification
supply_df['approved_wh_govt_certificate'].fillna('Unknown', inplace=True )

In [14]:
supply_df.isnull().sum()

Ware_house_ID                       0
WH_Manager_ID                       0
Location_type                       0
WH_capacity_size                    0
zone                                0
WH_regional_zone                    0
num_refill_req_l3m                  0
transport_issue_l1y                 0
Competitor_in_mkt                   0
retail_shop_num                     0
wh_owner_type                       0
distributor_num                     0
flood_impacted                      0
flood_proof                         0
electric_supply                     0
dist_from_hub                       0
workers_num                         0
wh_est_year                     11881
storage_issue_reported_l3m          0
temp_reg_mach                       0
approved_wh_govt_certificate        0
wh_breakdown_l3m                    0
govt_check_l3m                      0
product_wg_ton                      0
wh_age                              0
dtype: int64

In [15]:
# Drop the wh_est_year
supply_df.drop(columns=['wh_est_year'],inplace=True)

In [16]:
supply_df['approved_wh_govt_certificate'].value_counts()

C          5501
B+         4917
B          4812
A          4671
A+         4191
Unknown     908
Name: approved_wh_govt_certificate, dtype: int64

In [17]:
supply_df.isnull().sum()

Ware_house_ID                   0
WH_Manager_ID                   0
Location_type                   0
WH_capacity_size                0
zone                            0
WH_regional_zone                0
num_refill_req_l3m              0
transport_issue_l1y             0
Competitor_in_mkt               0
retail_shop_num                 0
wh_owner_type                   0
distributor_num                 0
flood_impacted                  0
flood_proof                     0
electric_supply                 0
dist_from_hub                   0
workers_num                     0
storage_issue_reported_l3m      0
temp_reg_mach                   0
approved_wh_govt_certificate    0
wh_breakdown_l3m                0
govt_check_l3m                  0
product_wg_ton                  0
wh_age                          0
dtype: int64

In [18]:
supply_df.to_csv('supply_cleaned.csv', index=False)